# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
quote_type = double


[packages/web/**]
indent_style = space
indent_size = 2
tab_width = 2


[package.json]
indent_style = space
indent_size = 4


[*.yml]
indent_style = space
indent_size = 4