# Build outputs
.data
.nuxt
.turbo
.nitro
.cache
dist
/data

# Storage
storage/*
!storage/static

# Node dependencies
node_modules

# Logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# Local env files
.env
.env.*
!.env.example
.temp
